<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Main</key>
	<dict>
		<key>Demo1_TextField_Button</key>
		<dict>
			<key>selector</key>
			<dict>
				<key>path</key>
				<string>v&gt;v&gt;v&gt;v&gt;v:10</string>
			</dict>
			<key>type</key>
			<string>Button</string>
		</dict>
		<key>Demo2_Picker</key>
		<dict>
			<key>type</key>
			<string>Button</string>
			<key>selector</key>
			<dict>
				<key>text</key>
				<string>Demo 2</string>
			</dict>
		</dict>
		<key>Demo3_ImageView_Switch</key>
		<dict>
			<key>type</key>
			<string>Button</string>
			<key>selector</key>
			<dict>
				<key>text</key>
				<string>Demo 3</string>
			</dict>
		</dict>
		<key>Demo4_Dailog_Segmented</key>
		<dict>
			<key>type</key>
			<string>Button</string>
			<key>selector</key>
			<dict>
				<key>text</key>
				<string>Demo 4</string>
			</dict>
		</dict>
		<key>MainTable</key>
		<dict>
			<key>type</key>
			<string>Table</string>
			<key>selector</key>
			<dict>
				<key>path</key>
				<string>v&gt;v&gt;v&gt;v</string>
			</dict>
		</dict>
	</dict>
	<key>Demo1DetailPage</key>
	<dict>
		<key>txtUserName</key>
		<dict>
			<key>type</key>
			<string>Input</string>
			<key>selector</key>
			<dict>
				<key>tag</key>
				<string>1</string>
			</dict>
		</dict>
		<key>clickButton</key>
		<dict>
			<key>selector</key>
			<dict>
				<key>text</key>
				<string>Hello Tao</string>
			</dict>
			<key>type</key>
			<string>Button</string>
		</dict>
		<key>label</key>
		<dict>
			<key>selector</key>
			<dict>
				<key>tag</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>Button</string>
		</dict>
	</dict>
	<key>Demo2DetailPage</key>
	<dict>
		<key>datePicker</key>
		<dict>
			<key>type</key>
			<string>Button</string>
			<key>selector</key>
			<dict>
				<key>tag</key>
				<string>1</string>
			</dict>
		</dict>
	</dict>
	<key>Demo3DetailPage</key>
	<dict>
		<key>SwitchButton</key>
		<dict>
			<key>type</key>
			<string>Button</string>
			<key>selector</key>
			<dict>
				<key>tag</key>
				<string>2</string>
			</dict>
		</dict>
	</dict>
	<key>Demo4DetailPage</key>
	<dict>
		<key>SegmentedItem_alert</key>
		<dict>
			<key>type</key>
			<string>Button</string>
			<key>selector</key>
			<dict>
				<key>text</key>
				<string>Alert</string>
			</dict>
		</dict>
		<key>SegmentedItem_confirm</key>
		<dict>
			<key>type</key>
			<string>Button</string>
			<key>selector</key>
			<dict>
				<key>text</key>
				<string>Confirm</string>
			</dict>
		</dict>
		<key>SegmentedItem_other</key>
		<dict>
			<key>type</key>
			<string>Button</string>
			<key>selector</key>
			<dict>
				<key>text</key>
				<string>Other</string>
			</dict>
		</dict>
		<key>ConfirmDailogOKButton</key>
		<dict>
			<key>type</key>
			<string>Alert</string>
			<key>selector</key>
			<dict>
				<key>tag</key>
				<string>2</string>
			</dict>
		</dict>
	</dict>
	<key>NavigationItem</key>
	<dict>
		<key>BackItem</key>
		<dict>
			<key>type</key>
			<string>Button</string>
			<key>selector</key>
			<dict>
				<key>path</key>
				<string>v&gt;v:2&gt;v:3</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
