<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>command</key>
		<string>simluteTouch</string>
		<key>element</key>
		<string>Main:Demo1_TextField_Button</string>
	</dict>
	<dict>
		<key>command</key>
		<string>Set</string>
		<key>element</key>
		<string>Demo1DetailPage:txtUserName</string>
		<key>valueString</key>
		<string>World</string>
	</dict>
	<dict>
		<key>command</key>
		<string>simluteTouch</string>
		<key>element</key>
		<string>Demo1DetailPage:clickButton</string>
	</dict>
	<dict>
		<key>command</key>
		<string>checkProperties</string>
		<key>element</key>
		<string>Demo1DetailPage:label</string>
		<key>properties</key>
		<string>text</string>
		<key>expectString</key>
		<string>Hello,World</string>
	</dict>
	<dict>
		<key>command</key>
		<string>simluteTouch</string>
		<key>element</key>
		<string>NavigationItem:BackItem</string>
	</dict>
</array>
</plist>
