<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>athrun</display-name>
  <welcome-file-list>
    <welcome-file>devices.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JpgGen</display-name>
    <servlet-name>JpgGen</servlet-name>
    <servlet-class>org.athrun.server.servlet.JpgGen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JpgGen</servlet-name>
    <url-pattern>/JpgGen.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Event.htm</display-name>
    <servlet-name>Event.htm</servlet-name>
    <servlet-class>org.athrun.server.servlet.Event</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Event.htm</servlet-name>
    <url-pattern>/Event.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imageSize</display-name>
    <servlet-name>imageSize</servlet-name>
    <servlet-class>org.athrun.server.servlet.imageSize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageSize</servlet-name>
    <url-pattern>/imageSize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imageQuality</display-name>
    <servlet-name>imageQuality</servlet-name>
    <servlet-class>org.athrun.server.servlet.imageQuality</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageQuality</servlet-name>
    <url-pattern>/imageQuality</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.athrun.server.listener.DeviceSetupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.athrun.server.listener.WebConfigListener</listener-class>
  </listener>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RemoteRegister</display-name>
    <servlet-name>RemoteRegister</servlet-name>
    <servlet-class>org.athrun.server.servlet.RemoteRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoteRegister</servlet-name>
    <url-pattern>/RemoteRegister</url-pattern>
  </servlet-mapping>
</web-app>