<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>command</key>
		<string>simluteTouch</string>
		<key>viewXPath</key>
		<string>Main:MyTaoBao</string>
	</dict>
	<dict>
		<key>command</key>
		<string>Set</string>
		<key>viewXPath</key>
		<string>Login:Account</string>
		<key>valueString</key>
		<string>13600527882</string>
	</dict>
	<dict>
		<key>command</key>
		<string>Set</string>
		<key>viewXPath</key>
		<string>Login:Password</string>
		<key>valueString</key>
		<string>test1234</string>
	</dict>
	<dict>
		<key>command</key>
		<string>simluteTouch</string>
		<key>viewXPath</key>
		<string>Login:LoginButton</string>
	</dict>
	<dict>
		<key>command</key>
		<string>simluteTouch</string>
		<key>viewXPath</key>
		<string>Main:Top</string>
	</dict>
</array>
</plist>
