<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>command</key>
		<string>simluteTouch</string>
		<key>element</key>
		<string>Main:Demo3_ImageView_Switch</string>
	</dict>
	<dict>
		<key>command</key>
		<string>Switch</string>
		<key>element</key>
		<string>Demo3DetailPage:SwitchButton</string>
		<key>state</key>
		<string>off</string>
	</dict>
	<dict>
		<key>command</key>
		<string>simluteTouch</string>
		<key>element</key>
		<string>Demo3DetailPage:SwitchButton</string>
	</dict>
	<dict>
		<key>command</key>
		<string>simluteTouch</string>
		<key>element</key>
		<string>Demo3DetailPage:SwitchButton</string>
	</dict>
	<dict>
		<key>command</key>
		<string>simluteTouch</string>
		<key>element</key>
		<string>NavigationItem:BackItem</string>
	</dict>
</array>
</plist>
